datasets/*
!datasets/manifests/
!datasets/profiles/
!datasets/.gitkeep
models/*
!models/.gitkeep
reports/htmlcov/
.ipynb_checkpoints/
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
.venv/
.coverage
*.egg-info/
dist/
build/
